body {
   background-color: light grey;
   flex-direction: wrap;
   border: 2px solid grey;
   padding-left: 35px;
   padding-right: 35px;
   font-family: Calibri; sans serif;
   margin: 50px;
}


p {
   color: black;
   font-family: Calibri; sans serif;
   padding-left: 35px;
   padding-right: 35px;
}



hr {
   color: #D3D3D3;
   padding-left: 35px;
}


h1 {
   font-family: Calibri; sans serif;
   padding-top: 35px;
   padding-left: 35px;
}

   
h2 {
   padding-left: 35px;
   font-family: Calibri; sans serif;
}
 
   
   
h3 {
   padding-left: 35px;
   font-family: Calibri; sans serif;
}

ul {
   padding-left: 40px;
}

   
