body {
   background-color: light grey;
   border: 3px groove grey;
   padding-left: 35px;
   padding-right: 35px;
   font-family: Calibri, sans serif;
   margin: 100px;
}


p {
   color: black;
   font-family: Calibri, sans serif;
   padding-left: 35px;
   padding-right: 35px;
}



hr {
   color: #D3D3D3;
   padding-left: 35px;
}


h1 {
   font-family: Calibri, sans serif;
   padding-top: 35px;
   padding-left: 35px;
   font-size: 40px;
}

   
h2 {
   padding-left: 35px;
   font-family: Calibri, sans serif;
   font-size: 28px;
}
 
   
   
h3 {
   padding-left: 35px;
   font-family: Calibri, sans serif;
   font-size: 20px;
}

ul {
   padding-left: 40px;
   text-indent: 12px;
}

   
