body {
   background-color: #FDEDEC;
   flex-direction: wrap;
   border: 2px solid black;
}

p {
   color: black;
   font-family: Calibri; sans serif;
   padding: 35px;
}


hr {
   color: #D3D3D3;
   padding: 35px;
}

